<%names = ['Sports', 'Economics' , 'Politics', 'General', 'education']%>
	<div class="row">
		<%4.times do |x|%>
		<div class="col-lg-4 col-md-4 col-sm-6">
			<table class="table table-bordered table-striped">
			<thead>
				<tr>

					<td class='text-center'>
						<%=names[x]%>
					</td>
				</tr>
			</thead>	
			<tbody class='table-hover'>
			<% @collection[x].each do |x| %>
			<tr>
				<td><%=link_to x.title, post_path(x) %></td>
			</tr>	
			<%end%>
			</tbody>
			</table>
		</div>
	<%end%>
	</div>
