<header class='navbar navbar-fixed-top navbar-inverse'>
<div class="container">
<nav>
	<a id="logo">Microreddit</a>
	<ul class="nav navbar-nav nav-pills navbar-right">
		<li role="presentation"><%=link_to 'HomePage', root_path%></li>
		<li role="presentation"><a href="#">Sports</a></li>
		<li role="presentation"><a href="#">Economics</a></li>
		<li role="presentation"><a href="#">Education</a></li>
		<li role="presentation"><a href="#">General</a></li>
		<li role="presentation"><a href="#">Politis</a></li>
	</ul>
</nav>
</div>
</header>
